body {
  font-family: sans-serif;
  background-color: #EEEEEE;
  color: #111111;
  margin: 0 auto;
}

header div, div.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1px 15px;
}

header {
  background-color: #000;
  color: #FFF;
}

div.flash {
  background-color: #800000;
  color: #FFFFFF;
  padding: 1em;
}

div.new_thread {
  margin: 0 auto;
  background-color: #DDD;
  padding: 1em;
}

div.thread, div.post {
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.thread div.flex_row, div.post div.flex_row {
  display: flex;
  flex-flow: row wrap;
}

div.thread div.image img, div.post div.image img {
  max-width: 300px;
  max-height: 300px;
}

div.thread div.image, div.post div.image {
  float: left;
  padding: 1em;
  background-color: #DDD;
  flex: 1;
}

div.thread div.content, div.post div.content {
  float: left;
  padding: 1em;
  background-color: #CCC;
  flex: 3 300px;
}

footer {
  color: #444;
}

footer div {
  margin: 0 auto;
  max-width: 960px;
  padding: 2em;
}

div.links {
  display: block;
  width: 100%;
  float: left;
}

div.links p.boards {
  float: left;
}

div.links p.others {
  float: right;
}

div.listed_threads {
  margin-bottom: 25px;
}

span.quotetext {
  color: green;
}

