{% extends 'base.html' %}
{% set title = "Edit Board" %}
{% block content %}
<div>
  <h2>Edit Board - /{{ board_dir }}/</h2>

  <a href="/dashboard">Back to dashboard</a>
  
  {% from "_formhelpers.html" import render_field %}
  <form method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.name) }}
      {{ render_field(form.description) }}
      {{ render_field(form.btype) }}
      {{ render_field(form.category) }}
      {{ render_field(form.new_category) }}
      {{ render_field(form.nsfw) }}
      {{ render_field(form.files_types) }}
      {{ render_field(form.files_limit) }}
    </dl>
    <input type="submit" value="Edit Board">
  </form>
</div>
{% endblock %}

