{% extends 'base.html' %}
{% set title = "Reports List" %}
{% block content %}
<div>
  <h2>Reports List</h2>
  <a href="/dashboard">Back to dashboard</a>

  <ul>
    {% for report in reports_list %}
      <li>
        {{ report.timestamp }} |
        /{{ report.board_directory }}/ - {{ report.board_name }} ({{ report.type }})
        | <a href="{{ url_for('thread',
            board_dir=report.board_directory,
            thread_id=report.thread_id
            ) }}#post_{{ report.post_id }}">Link</a>
        | Reason: "{{ report.reason }}"
        <br>Content:
        <div class="content">
          {{ report.content }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

