{% extends 'base.html' %}
{% set title = "zzzchan - board" %}
{% block content %}
<div>
  <div class="links">
    {% from "_boardslink.html" import boards_links %}
    {{ boards_links(boards_list) }}
    <p class="others">
      [<a href="/">Home</a>]
    </p>
  </div>
  <h2>/{{ board_dir }}/ - {{ board_name }}</h2>
  <p>
    {{ board_desc }}
  </p>

  <div class="new_thread">
    <h3>Create a new thread</h3>
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/board/{{ board_dir }}/new_thread" enctype="multipart/form-data">
      {{ new_thread_form.csrf_token }}
      <dl>
        {{ render_field(new_thread_form.title) }}
        {{ render_field(new_thread_form.options) }}
        {{ render_field(new_thread_form.content) }}
        {{ render_field(new_thread_form.image) }}
      </dl>
      <input type="submit" value="Create new thread">
    </form>
  </div>

  <div>
    {% for thread in threads_list %}
      <div class="thread">
        <div class="thread_info">
          <h4>{{ thread.title }}</h4>
          <p>
            {{ thread.id }} - {{ thread.timestamp_op }}
            <a href="/board/{{ board_dir }}/thread/{{ thread.id }}">Enter thread</a>
          </p>
        </div>
        <div class="flex_row">
          <div class="image">
            <p>{{ thread.filepath }}</p>
            <img src="/uploads/{{ thread.filepath }}">
          </div>
          <div class="content">
            {{ thread.content }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

