{% extends 'base.html' %}
{% set title = "zzzchan - setup" %}
{% block content %}
<div>
  <h2>First Time Setup</h2>
  <p>Welcome to the first time setup page.</p>
  
  {% from "_formhelpers.html" import render_field %}
  <form method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.site_name) }}
      {{ render_field(form.admin_username) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
    </dl>
    <input type="submit" value="Setup">
  </form>
</div>
{% endblock %}

