body {
  font-family: sans-serif;
  background-color: #EEEEEE;
  color: #111111;
  margin: 0 auto;
}

header div, div.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 1px 15px;
}

header {
  background-color: #000;
  color: #FFF;
}

div.flash {
  background-color: #800000;
  color: #FFFFFF;
  padding: 1em;
}

div.new_thread {
  margin: 0 auto;
  background-color: #DDD;
  padding: 1em;
}

